.folderTree
{
    border: double $blue-color;
    width: 98%; 
    height: 200px;
    overflow: auto;
    ul.f-tree {
        margin-left: 5px;
        padding: 5px;
   

        li {
            padding-left: 20px;
            padding-top: 0px;
            list-style: none;
            white-space: nowrap;
            margin: 0px;
            outline: 0;

            span
            {


                &.f-tree-switcher,
                &.f-tree-checkbox,
                {
                    line-height: 24px;
                    margin-right: 2px;
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    border: 0 none;
                    cursor: pointer;
                    outline: none;
                    top: -8px;
                    position: relative;



                }





                &.f-tree-iconEle {

                    line-height: 24px;
                    margin-right: 2px;
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    border: 0 none;
                    cursor: pointer;
                    outline: none;
                }

                &.f-tree-title
                {
                    font-size: 25px;
                    padding: 5px;

                }
                &.f-tree-switcher 
                {

                    &.f-tree-center_open:before,
                        &.f-tree-center_close:before 
                        {
                        font-family: "foundation-icons";
                        position: relative;
                        font-style: normal;
                        font-weight: normal;
                        color: $blue-color;
                        font-size: 24px;
                        font-variant: normal;
                        text-transform: none;
                        -webkit-font-smoothing: antialiased;
                        text-decoration: inherit; 

                    }


                    &.f-tree-center_open:before
                        { 


                        left: -25px;
                        top: 8px;

                        content: "\f176";

                    }

                    &.f-tree-center_close:before
                        {                        
                        left: -25px;
                        top: 8px;
                        content: "\f199";

                    }

                }

                &.f-tree-iconEle:before {
                    font-family: "foundation-icons";
                    position: relative;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px;
                    font-variant: normal;
                    text-transform: none;
                    color: $green-color;
                    -webkit-font-smoothing: antialiased;
                    text-decoration: inherit; 
                    left: -25px;

                    content: "\f150";

                }


            }



            a {
                display: inline-block;
                cursor: pointer;
                height: 30px;
                text-decoration: none;
                // vertical-align: top;

                &:before,
                    .grouping:after {
                    content: " ";
                    display: table; 
                }
                &:after {
                    clear: both; 
                }


                &.f-tree-node-selected
                {

                    span.f-tree-title
                    {
                        background-color: $red-color;
                        color: white;
                    }


                }
            }



            &.drag-over > a[draggable] {
                background-color: #316ac5;
                color: white;
                border: 1px #316ac5 solid;
                opacity: 0.8;
            }

            &.drag-over-gap-top > a[draggable] {
                border-top: 2px blue solid;
            }

            &.drag-over-gap-bottom > a[draggable] {
                border-bottom: 2px blue solid;
            }

            &.filter-node > a {
                color: #a60000!important;
                font-weight: bold!important;
            }

            a[draggable],
            a[draggable="true"] {
                color: #333;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                /* Required to make elements draggable in old WebKit */
                -khtml-user-drag: element;
                -webkit-user-drag: element;
            }


            ul {
                margin: 0;
                padding: 0;

                &.f-tree-line {
                    background: url("https://t.alipayobjects.com/images/T13BtfXl0mXXXXXXXX.gif") 0 0 repeat-y;
                }
            }


        }

    }







} //folderTree

.folderForm
{

    /*
    #addFolder,#editFolder,#folderInput
    {
        &:disabled
        {
            opacity: 0.5;
            cursor: default;
            color: inherit;
            background-color:inherit;
        }
        
        
    }
    */
    #folderName
    {
        &:disabled
            {
            opacity: 0.5;
            cursor: default;
            color: inherit;
            background-color:inherit;
        }
    }


}