@import "components/reset";
@import "components/typography";
@import "components/modular";
@import "components/myMenu";
@import "components/tables";
@import "components/buttons";
@import "components/system";




body {

    z-index: 0;

}

.mainPageContainer
{ 
    
     
    .mainLoginForm
    {
        width: 45%;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

$box-width: 500px;




.searchContainer
{

    table.imageSelectorComponent

    {
        td.imageComponentTableCell
        {
            width: 525px;



        }





        td.currentImageTableCell
        {
            background-color: $green-color;
            width: 250px;
            padding: 20px;
            margin: 0px;
            overflow: auto;

            .width30
            {
                width: 30%;
                float:left;

            }


            .currentImageControlContainer
            {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-content: stretch; 
                padding: 5px;
                margin-top: 10px;
                position:relative;
                height: 450px;

                a
                {
                    color: white;
                    text-decoration: none;

                    &:hover
                        {
                        text-decoration: underline;
                    }

                }


                .imageControl
                {


                    color: white;
                    text-align: center;
                    margin: 5px;

                    border-bottom: 1px solid white; 


                }
            }


            .imageWrapper
            {
                overflow: auto;
                height: 300px;

                flex-basis: content;
                margin-top:  5px;
                width: 200px;
                overflow: auto;

                .imageExpander
                {
                    position: relative;
                    .completedText
                    {

                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background: rgba(0,0,0,0.6);
                        color: #ddd;
                        padding: 20px;
                    }

                }
            }
            img.currentImageDisplay
            {
                width: 200px;
                margin: 10px auto;
                cursor: move;
                overflow: auto;

            }
        }


    }



}

.tagSearchContainer
{
    width: 400px;
    position: relative;


    .tagSearchInput
    {

        float:left;
        background-color:#FFF;
        min-height:30px;
        margin-top: 1px;
        height:30px;
        width:300px;
        font-family:graphikExtralight,Helvetica,Arial,sans-serif;
        font-size:1.8em;
        font-weight:100;
        border: none;

    }



    .search
    {
        float: right;
        font-size:30px;
        margin-right: 10px;
    }

    .entryBoxContainer
    {
        background-color: white;
        height: 35px;
        border: thin solid $green-color; 


    }   
    .tagSearchList
    {
        margin-top: 3px;
        border: 1px solid #ccc;
        top: 33px;
        width: 330px;
        position: absolute;
        z-index: 5;
        background-color: white;


        .tagSearchItem
        {
            border-bottom: 1px solid #ccc;

            padding: 5px;
            font-size: 20px;
            cursor: pointer;
        }

    }

    .waitIndicator
    {
        position:absolute;
        top:-40px;
        left: 300;

    }


}


.searchContainer
{ 

    .displayComponent
    { 
        .pagingControls
        {
            margin-bottom: 10px;
            button
            {
                margin: 10px;
            }
        }

        width: 525px;



        .imageComponentContainer
        {
            height: 410px;
            position: relative;
            width: 525px;
            padding: 10px;
            overflow: auto;
            border: thin solid $red-color;
            //http://alijafarian.com/responsive-image-grids-using-css/
            .imageListContainer
            {
                -moz-column-count: 4;
                -moz-column-gap: 0px;
                -webkit-column-count: 4;
                -webkit-column-gap: 0px;
                column-count: 4;
                column-gap: 0px;
                width: 100%;
                margin: 0 auto;




                .deviantThumb
                {


                    .imageExpander
                    {
                        position: relative;
                        text-align: center;

                        .imageCover
                        {
                            .containedText
                            {
                                color: #ddd;
                                //margin: 5px;
                                font-size:smaller;
                                margin-top: 5px;

                            }
                            cursor:not-allowed;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(0,0,0,0.6);


                        }

                    }



                    &.categoryHit
                    {
                        opacity: 1;
                    }
                    &.categoryMiss
                    {
                        opacity: 0.5;
                    }


                    img
                    {
                        margin: 1px;
                        width: 100%;
                        cursor: pointer;
                        -webkit-user-drag:  none;

                    }


                }
            }

        }



    }

}

div.waitIndicator
{ 
    background:  url('images/spiffygif_96x96.gif') 50% 50% no-repeat;
    background-color: rgba(0,0,0,.5);
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    z-index:999;
}